@model IEnumerable<DataAccessLayer.Entities.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>İletişim Liste Paneli</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Adı")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayName("Konu")
            </th>
            <th>
                @Html.DisplayName("Messaj")
            </th>

            <th>
                @Html.DisplayName("Sırası")
            </th>
       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.RowOrder)
            </td>
         
            <td>
       
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
