@model DataAccessLayer.Entities.CarRequestForm

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Araç Talep Formu Silme Paneli</h3>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carİnformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carİnformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benzin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benzin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dizel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dizel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LPG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LPG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarketmezYakit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarketmezYakit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otomatik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otomatik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarketmezVitez)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarketmezVitez)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowOrder)
        </dd>
      
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-dark" />
        <a class="btn btn-danger" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
