@model IEnumerable<DataAccessLayer.Dtos.AdminDtos.TeamListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Takım Arkadaşlarımız Liste Paneli</h3>
<br />
<p>
    <a class="btn btn-outline-success" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Resim")
            </th>
            <th>
                @Html.DisplayName("Adı ve Soyadı")
            </th>
            <th>
                @Html.DisplayName("Görevi")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instegram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedIn)
            </th>
             <th>
                @Html.DisplayName("Son Güncellenme")
            </th>
            <th>
                @Html.DisplayName("Sırası")
            </th>
            <th>
                @Html.DisplayName("Kim Ekledi")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="~/Img/@Html.DisplayFor(modelItem => item.Image)" alt="" class="form control" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instegram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedFullName)
            </td>
            <td>
                    <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                            <hr>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
