@model List<DataAccessLayer.Entities.ContactCity>
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                   @foreach (var item in Model)
                    {
                <div class="col-lg-3 col-md-6">
                 
                        
                  
                    <div class="footer-info">
                        <h4>İletişim Bilgileri</h4>

                        <p>
                            @item.Address<br>
                            <br><br>
                            <strong>Telefon:</strong> @item.Phone<br>
                            <strong>E-Posta:</strong> @item.MailCity<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="@item.Twiter" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="@item.Facebook" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="@item.Instegram" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="@item.Skype" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="@item.Linkedin" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/Anasayfa">Anasayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/About">Hakkımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/Service">Hizmetler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/Team">Takımımız</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="Home/Contact">İletişim</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Hzılı Bağlantılar</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/Car">Araçlarımız</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/CarRequestForm">Araç Talep Formu</a></li>
            
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">

                    <h5> <a href="/Home/Anasayfa" class="logo me-auto"><img src="~/Img/Logo.jpg" alt="" class="img-fluid" width="250" height="150"></a></h5>

                </div>
                 }
            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright @DateTime.Now.Year <strong><span>Çakar Otomotiv</span></strong>. Tüm Hakları Saklıdır.
        </div>

    </div>
</footer><!-- End Footer -->